<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <localRepository>${user.home}/.m2/repository</localRepository>
    <profiles>
        <profile>
            <id>securecentral</id>
            <repositories>
                <repository>
                <id>central</id>
                <url>https://repo1.maven.org/maven2</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                <id>central</id>
                <url>https://repo1.maven.org/maven2</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>sonatype</id>
            <repositories>
                <repository>
                    <id>sonatype</id>
                    <name>sonatype</name>
                    <url>https://oss.sonatype.org/content/repositories/snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                <id>sonatype</id>
                <url>https://oss.sonatype.org/content/repositories/snapshots</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>securecentral</activeProfile>
        <activeProfile>sonatype</activeProfile>
    </activeProfiles>
</settings>
