{{- if .Values.deploymentConfig }}
---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ include "pet-battle-api.fullname" . }}
  labels:
    {{- include "pet-battle-api.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: 10
  selector:
    {{- include "pet-battle-api.selectorLabels" . | nindent 4 }}
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/path: '/metrics'
        prometheus.io/port: '8080'
        rollme: {{ randAlphaNum 5 | quote }}
      creationTimestamp: null
      labels:
        {{- include "pet-battle-api.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - env:
            - name: NSFW_API_SERVICE_ENABLED
              value: {{ .Values.nsfw.enabled | default "false" | quote }}
            - name: NSFW_API_SERVICE_HOST
              value: {{ .Values.nsfw.apiHost | default "nsfwapi" | quote }}
            - name: NSFW_API_SERVICE_PORT
              value: {{ .Values.nsfw.apiPort | default 5000 | quote }}
{{- if .Values.mongodbTemplate.enabled }}
            - name: DATABASE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database-admin-password
                  name: {{ include "mongodb.fullname" . }}
            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  key: database-name
                  name: {{ include "mongodb.fullname" . }}
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database-password
                  name: {{ include "mongodb.fullname" . }}
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  key: database-user
                  name: {{ include "mongodb.fullname" . }}
            - name: DATABASE_SERVICE_HOST
              value: {{ include "mongodb.fullname" . }}
            - name: DATABASE_SERVICE_PORT
              value: '27017'
{{- else }}
            - name: DATABASE_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: cats-mongodb-replicaset-admin
            - name: DATABASE_NAME
              value: "test"
            - name: DATABASE_SERVICE_HOST
              value: {{ printf "%s-%s" "pet-battle-api" "mongodb-replicaset" | quote }}
            - name: DATABSE_SERVICE_PORT
              value: '27017'
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: cats-mongodb-replicaset-admin
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  key: user
                  name: cats-mongodb-replicaset-admin
{{- end }}
          image: ''
          imagePullPolicy: Always
          name: {{ include "pet-battle-api.name" . }}
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8443
              protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
          - {{ include "pet-battle-api.name" . }}
        from:
          kind: ImageStreamTag
          name: {{ include "pet-battle-api.fullname" . }}:{{ .Chart.AppVersion }}
        lastTriggeredImage: ""
      type: ImageChange
{{- end }}
